{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to Ruralink</h1>
<p>Connecting healthcare professionals to rural communities, 
    Ruralink simplifies patient management and enhances collaboration between junior and senior practitioners. 
    Our platform ensures secure access to patient data, prescriptions, and reports, empowering equitable healthcare for all.
    Together, let's bridge the gap and build healthier communities.</p>
{% endblock %}
